[functions]
  directory = "netlify/functions"

[dev]
  framework = "#static"
  targetPort = 5173
  port = 8888
  publish = "dist"
  autoLaunch = false

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
  force = false